<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CRUD_Website</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>myPackage.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_up</display-name>
    <servlet-name>Sign_up</servlet-name>
    <servlet-class>myPackage.Sign_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_up</servlet-name>
    <url-pattern>/Sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>myPackage.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign</display-name>
    <servlet-name>sign</servlet-name>
    <servlet-class>myPackage.sign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>myPackage.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>log_in</display-name>
    <servlet-name>log_in</servlet-name>
    <servlet-class>myPackage.log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log_in</servlet-name>
    <url-pattern>/log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginKarnaHoga</display-name>
    <servlet-name>LoginKarnaHoga</servlet-name>
    <servlet-class>myPackage.LoginKarnaHoga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginKarnaHoga</servlet-name>
    <url-pattern>/LoginKarnaHoga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>myPackage.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot_pswd</display-name>
    <servlet-name>Forgot_pswd</servlet-name>
    <servlet-class>myPackage.Forgot_pswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot_pswd</servlet-name>
    <url-pattern>/Forgot_pswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileView</display-name>
    <servlet-name>profileView</servlet-name>
    <servlet-class>myPackage.profileView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileView</servlet-name>
    <url-pattern>/profileView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testing</display-name>
    <servlet-name>testing</servlet-name>
    <servlet-class>myPackage.testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testing</servlet-name>
    <url-pattern>/testing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileUpdate</display-name>
    <servlet-name>profileUpdate</servlet-name>
    <servlet-class>myPackage.profileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileUpdate</servlet-name>
    <url-pattern>/profileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tickets</display-name>
    <servlet-name>Tickets</servlet-name>
    <servlet-class>myPackage.Tickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tickets</servlet-name>
    <url-pattern>/Tickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>myPackage.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlog_in</display-name>
    <servlet-name>Adminlog_in</servlet-name>
    <servlet-class>myPackage.Adminlog_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlog_in</servlet-name>
    <url-pattern>/Adminlog_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketsAdmin</display-name>
    <servlet-name>TicketsAdmin</servlet-name>
    <servlet-class>myPackage.TicketsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketsAdmin</servlet-name>
    <url-pattern>/TicketsAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTicket</display-name>
    <servlet-name>DeleteTicket</servlet-name>
    <servlet-class>myPackage.DeleteTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTicket</servlet-name>
    <url-pattern>/DeleteTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseTicket</display-name>
    <servlet-name>CloseTicket</servlet-name>
    <servlet-class>myPackage.CloseTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseTicket</servlet-name>
    <url-pattern>/CloseTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>myPackage.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyChatRoom</display-name>
    <servlet-name>MyChatRoom</servlet-name>
    <servlet-class>myPackage.MyChatRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyChatRoom</servlet-name>
    <url-pattern>/MyChatRoom</url-pattern>
  </servlet-mapping>
</web-app>